.Title {
  margin-bottom: 0.5rem;
}

.Right {
  position: relative;
  float: right;
  display: table-cell;
  vertical-align: middle;
}

.Count {
  position: absolute;
  right: 30px;
  top: 3px;
  color: grey;
}

.Star {
  color: grey;
}

.Memo .row {
  margin-bottom: 0;
}

.icon-button {
  color: #9e9e9e;
  cursor: pointer;
}

.icon-button:hover {
    color: #C5C5C5;
}
 
.icon-button:active {
    color: #ff9800;
}